<?xml version="1.0" encoding="UTF-8"?>
<suite name="CategoriaSuite" parallel="tests" verbose="1" thread-count="5">
	<test name="CategoriaTest" enabled="false">
		<parameter name="nombreInsertar" value="Chocolates" />
		<parameter name="nombreActualizar" value="Lacteos" />
		<classes>
			<class name="pe.com.test.CategoriaTest" />
		</classes>
	</test>
	<test name="CategoriaWebDriverTest01">
		<parameter name="navegador" value="chrome"/>
		<parameter name="remoto" value="0"/>
		<parameter name="rutaArchivo" value="util\DataCategoria01.xls"/>
		<parameter name="fuenteDatos" value="Excel"/>
		<classes>
			<class name="pe.com.test.seleniumwd.CategoriaWebDriverTest" />
		</classes>
	</test>

</suite>
